
.info-box-content{
	padding: 15px 10px;
	margin-left: 70px;
	text-align: center
}
.fa-rotate-45 {
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
}

.info-box {
	display: block;
	min-height: 70px;
	background: #fff;
	width: 100%;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	border-radius: 0px;
	margin-bottom: 15px;
}

.info-box1 {
	min-height: 90px !important;
}

.info-box-icon {
	border-top-left-radius: 2px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 2px;
	display: block;
	float: left;
	height: 70px;
	width: 70px;
	text-align: center;
	font-size: 45px;
	line-height: 70px;
	background: rgba(0, 0, 0, 0.2);
	color: gray;
}

.info-box-icon1 {
	height: 90px !important;
	width: 70px !important;
	text-align: center !important;
	color: white !important;
	line-height: 90px !important;
}

.info-box-content1 {
	padding: 5px 10px!important;
	margin-left: 70px!important;
	text-align: left!important;
}




.info-box-number {
	display: block;
	font-weight: bold;
	font-size: 18px;
	color: #3c8dbc;
}

.content {
	background: white;
}

.small-box-footer {
	width: 50%;
}

.inner {
	height: 100px;
}

.small-box .icon {
	right: auto;
}
/*
.details{
background-color:grey;
}*/
.details-first {
	background-color: lightgrey;
}

.details-second {
	background-color: skyblue;
}

.details-third {
	background-color: lightgrey;
}

.details-color {
	/*color:white;*/
	padding-left: 25px;
}

.details-color-down {
	color: white;
	padding-top: 7px;
	padding-left: 47px;
}

.border-line {
	border-style: groove;
	border-width: medium;
	height: 36px;
	border-radius: 19px;
	width: 76%;
	margin-top: 17px;
}

.border-line-day {
	border-style: groove;
	border-width: medium;
	height: 44px;
	width: 76%;
	margin-top: 17px;
	color: white;
	padding-left: 10px;
	padding-top: 7px;
}

.letter-size {
	font-size: 30px;
}

.description {
	padding-top: 18px;
	/* padding-right: 0px; */
	padding-left: 14px;
	padding-bottom: 18px;
	height: 124px;
}

.calender-font {
	font-size: 100px;
	padding-top: 30px;
	padding-bottom: 30px;
}

.content-wrapper {
	min-height: 800px !important;
}

.highcharts-button {
	display: none;
}

.hr-tag {
	margin-top: 12px !important;
	margin-bottom: 12px !important;
	border: 0 !important;
	border-top: 2px solid #333 !important;
}

.paragraph {
	/* color: black;
font-weight: initial;
 font-size: 13px;*/
	
}

.sky-primary-blue {
	background: #0076BC;
	border-radius: 12px;
}

.color-white {
	color: white;
}

.padding-top-inner {
	padding-top: 28px !important;
}

.label-1 {
	padding: 0;
	padding-top: 5px;
	font-weight: 600;

	/* font-size: 13px; 
    color: black;
    background-color: rgba(211, 211, 211, 0.47);;
    text-align: right;
    padding-bottom: 5px; */
}

.label-2 {
	font-weight: 400;
	/* text-align: left;
    font-size: 13px;
    color: black;*/
}

.color-white-year {
	color: white;
	margin-bottom: 0 !important;
	font-size: 27px !important;
}

.color-white-year-service {
	color: white;
	margin-bottom: 0 !important;
	font-size: 27px !important;
	margin-top: 0px !important;
}

.sky-medium-blue {
	background: #05A6DF;
	border-radius: 12px;
}

.sky-lite-blue {
	background: #58C1E9;
	border-radius: 12px;
}

.sky-lite-green {
	background: #A3CF5E;
	border-radius: 12px;
}

.step-height {
	padding: 0px;
	background-color: lightgray;
	padding-bottom: 20px;
	margin-bottom: 18px;
}

.label-8 {
	padding-top: 5px;
	padding-bottom: 5px;
}

@media only screen and (max-width: 1199px) {
	.adjust_step_height {
		min-height: 200px;
	}
}

@media only screen and (max-width: 1270px) {
	.adjust_step_height {
		min-height: 500px;
	}
}

@media only screen and (min-width: 1280px) {
	.adjust_step_height {
		min-height: 495px;
	}
}
}
ul.box_ul{
list-style: none;
    padding: 0px;
}
.box_ul li:before
{
    content: '-';
    margin: 5px;   /* any design */
}
.help-call{
	font-size: 18px; text-align: right;
}
.lighter{
	font-weight: lighter;
}
.mtop21{
	margin-top: 21px;
}
.project-stage{
	font-size: 18px !important;
}
.mtoppading{
	margin-top: 10px; padding: 10px;
}
.marbottom10{
	margin-bottom:10px;
}
.img_height_width{
	height: 100px; width: 100px;
}


.load-gif {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #fff;
  top: 0;
  left: 0;
  opacity: 0.8;
  z-index: 99999;
}
.procressing_plz_wait {
  color: #000;
  width: 50%;
  margin: 15% auto;
  text-align: center;
  font-size: 17px;
}

.gif-img-prop{
	width: 16px;margin-left: 12px;
}
 .video{
	 padding-left:100px;
 }