
.mr-tp-2{
margin-top: 4%;}

.mr-tp-15{
margin-top: 15%;}
.mr-r-1{
    margin-right: 1%;
}
.btn{
white-space: normal;
   /* box-shadow: 3px 2px 5px rgba(136, 136, 136, 0.28);*/
}

ol>li.btn-lg{
font-size: 16px;
text-align:left;
}

ol>li.btn-lg>span{
margin-right: 5%;
text-align:center;
}
.margin{
	
	margin-top:0px;
	margin-bottom:0px;
}

.bullet2{
	padding-bottom:6px;
}
.circle{
float: left;
    border-radius: 50%;
    background: white;
    color: black;
    width: 22px;
    }
    .btn-default-cancel{
        background-color: #d2d6de;
        }
    .btn-success{
        background-color: rgb(0, 166, 36);
    }


   .form-horizontal .control-label{
   text-align:left;
   }

	.steps{
		display:none; background-image: linear-gradient(#0ebb79,#22a642);
    color: #fff;
    width: 58px; border-bottom: 1px solid rgba(0,0,0,0.5);
    border-radius: 0.8em 0.3em 0.3em 0.8em;
    text-align: center;
    line-height: 23px;
    font-weight: 900;
    font-size: 15px;
	}
	
	.steps{
		cursor:pointer;
	}
	
	.block-number{
		    font-family: initial;
		border-radius: 0.3em;
    width: 23px;
    height: 23px;
    letter-spacing: -1px;
    text-align: center;
    line-height: 23px;
    font-weight: 900;
    font-size: 15px;
    left: 3px;
    top: -2px;      
	position: absolute;
	color: #fff;
    background-color: #6699cc; 
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.3); 
    background-color: #436799;
    background-image: -moz-linear-gradient(#375984,#436799);
    background-image: -webkit-linear-gradient(#375984,#436799); 
	}
	
	.highlight-fancy{
		border: 1px solid #FBEED5;
    text-shadow: 0 1px 0 rgba(255,255,255,0.5);
    padding: 0.1em 0.5em 0.3em 0.5em;
    border-radius: 0.2em;
    box-shadow: 0px 1px 0px rgba(106,32,28,0.1);
    background-color: #ffffcc;
    color: #90724a;
	}
.panel.box {
	border-top: none !important;
}
	.form-height{
    height: 42px;
    width: 90%;
	}
	.control-checkbox{
	font-weight: normal;
    font-size: 16px;
	}
	
	.field-tblacageneralplaninfo-multiple_description{
	    padding-left: 18px
	}
	.white{
	color:white;
	}
	.pad-top-7{
	padding-top: 7px;
}
.display-none{
	display:none;
}
.lighter{
	font-weight: lighter;
}
.font-size-12{
	font-size:12px;
}
.mar-top-bottom{
	 margin-top: 10px; 
	 margin-bottom: 20px;
}